.about {
    border: 1px solid pink;
    padding: 40px 0;
    h2 {
        margin-bottom: 0;
    }
}

.about-title {
    text-align: center;
    h2 {
        font-size: 5rem;
        // font-family: 'Roboto', sans-serif; 
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        color: #4b4b4c;
    }
}

.about-content {
    margin-top: 10px;
    display: flex;
    align-items: center;
    p {
        // font-family: 'Roboto', sans-serif; 
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.5rem;
        line-height: 3rem;
        width: 100%;
        color: #4b4b4c;
    }
}

.profile {
    width: 30%;
    margin-left: 10%;
    img {
        width: 85%;
        box-shadow: -8px 8px#dcb252;
    }
}

.about-text {
    width: 60%;
    padding-right: 10%;
}

@media (max-width: 930px) {
    .about {
        margin: 0 auto;
        text-align: center;
    }
    .about-content {
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-top: 5%;
        border: 1px solid blue;
    }
    .profile {
        margin: 0;
        padding: 0;
        width: 100%;
        img {
            margin: 0;
            padding: 0;
            width: 45%;
        }
    }
    .about-text {
        width: 100%;
        padding: 0;
    }
}