.about {
    border: 1px solid pink;
   
    h2 {
        margin-bottom: 0;
    }
}


.about-title {
    text-align: center;
    h2 {
        margin-bottom: 0;
        // border: 1px solid pink;
        font-size: 5rem;
        font-family: 'Roboto', sans-serif; 
        font-weight: 400;
        color: #4b4b4c;
    }
}

.about-content {
    display: flex;
    p {
        font-family: 'Roboto', sans-serif; 
        font-size: 2rem;
        line-height: 3rem;
        width: 100%;
        color: #4b4b4c;
    }
}

.picture {
    margin-right: 30px;
}

.profile {
    border: 1px solid black;
    width: 20%;
    img {
        width: 100%;
    }
}

