.about {
    border: 1px solid pink;
   
    h2 {
        margin-bottom: 0;
    }
}

.picture {
    margin-right: 30px;
}

.about-title {
    text-align: center;
    h2 {
        margin-bottom: 0;
        // border: 1px solid pink;
        font-size: 4rem;
        font-family: 'Roboto', sans-serif; 
        font-weight: 400;

    }
}

.about-content {
    display: flex;
    p {
        font-family: 'Roboto', sans-serif; 
        font-size: 2rem;
        line-height: 3rem;
        width: 100%;
    }
}
