.contact-main {
  // border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.contact-title {
  margin-bottom: 5px;
}

.contact-title h2 {
  margin-bottom: 0;
  font-size: 5rem;
  font-family: 'Nunito Sans', sans-serif;
  color: #4b4b4c;
  font-weight: 400;
}

.contact-title {
  width: 100%;
  text-align: center;
}


.contact-info {
  
  text-align: center;
    font-family: 'Domine', serif;
    font-weight: 700;
    color: white;
    font-size: 2.5rem;
    p {
      text-shadow: 0.25px 0.25px #a3a3a3;
    }
    a {
      color: #a9a9ae;
    }
    a:hover {
      color: #85858c;
      transition: all 0.3s ease 0s;
    }
}

.contact-info h3 {
    color: #a9a9ae;
    margin-bottom: 25px;
    
}




.social-media {
  text-align: center;
  p {
    text-shadow: 0.25px 0.25px #a3a3a3;
     text-align: center;
    font-family: 'Domine', serif;
    font-weight: 700;
    color: white;
    font-size: 2.5rem;
  }
}

.social-media ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-media ul li {
  list-style: none;
  i {
    font-size: 2.5rem;
    color: #a9a9ae;
    margin: 0 10px;
  }
  i:hover {
    color: #85858c;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out 0s;
  }
}

.contact-main {
  min-height: 70vh;
  position: relative;
  z-index: 10;
}

.contact-main:after {
  z-index: -1;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70vh;
  width: 100%;
  background: #e3e4e6;
  clip-path: polygon(100% 23%, 100% 100%, 0 100%, 0 0);
  -webkit-clip-path: polygon(100% 23%, 100% 100%, 0 100%, 0 0);
}


form {
  padding: 1.5%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
  background-color: #ecc468;
  width: 45%;
  input {
    display: block;
    margin-bottom: 1.5%;
    width: 100%;
    border: none;
    padding: 10px;
    font-family: 'Nunito Sans', sans-serif;
  }
  input:last-child {
    margin-bottom:0;
  }
  input[type="submit"] {
    color: #4b4b4c;
    font-family: 'Nunito Sans', sans-serif;
  }
}


@media (max-width: 745px) {
  .contact-info h3 {
    font-size: 2rem;
  }

  form {
    width: 100%;
    margin: 0;
    // padding-left: 0;
    // padding-right: 0;
  }
}