.contact {
    border: 1px solid salmon;
}

.contact h2 {
    margin-bottom: 0;
    font-size: 5rem;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
}

.contact-title {
    border: 1px solid red;
    width: 100%;
    text-align: center;
}

.social-media {
    border: 1px solid red;
}

.social-media ul {
    display: flex;
    flex-direction: row;
}

.social-media ul li {
    list-style: none;
}

footer {
  height: 100vh;
  width: 100%;
  background-image: url("/assets/emma_plants_1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: opacity(70%);
}