// header {
//   min-height: 100vh;
//   // background-image: url("/assets/emma_plants.png");
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   position: relative;
//   border: 1px solid red;
//   // z-index: 1;
// }

// header:before {
//   min-height: 100vh;
//   background-image: url("/assets/emma_plants.png");
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   filter: opacity(70%);
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }

header {
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  border: 1px solid red;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header .center {
  text-align: center;
  background-image: url("/assets/cacti.jpg");
  width: 80vw;
  height: 85vh;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  img {
    width: 100%;
    display: block;
  }
  .my-name {
    // font-family: 'Nunito Sans', sans-serif;
    font-family: 'Domine', serif;
    font-weight: 700;
    color: white;
    font-size: 7.5rem;
    text-align: center;
    margin-top: 25%;
  }
  .center-text {
    p {
      font-family: 'Domine', serif;
      font-size: 3rem;
      color: white;
      margin: 0;
    }
  }

}

.snowflake2 {
  width: 60px;
  transform: rotate(-40deg);
}

// nav {
//   background-color: #9de68666;
//   width: 100%;
//   height: 8vh;
//   // border: 1px solid black;
//   position: absolute;
//   top: 0;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   font-family: "Pontano Sans", sans-serif;
//   font-size: 2.5rem;
//   letter-spacing: 0.25rem;

//   ul {
//     display: flex;
//     flex-direction: row;
//     list-style: none;
//   }
//   li {
//     margin-right: 15px;
//   }
//   a {
//     color: #332f2f;
//   }
//   a:hover {
//     color: #e6c885;
//   }
// }

.mainNav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 15;
  width: 25%;
  max-width: 500px;
  background-color: #ddb2497a;
  
}
.hamburger i {
  // position: absolute;
  position: fixed;
  top: 15px;
  right: 25px;
  font-size: 4rem;
}

.closed {
  right: -500px;
}

.opened {
  right: 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 4rem;
  border: 1px solid black;
}

.mainNav ul {
  border: 1px solid black;
}

.NavLinks li {
  text-decoration: none;
  margin: 20px;
}

.NavLinks a {
  // font-family: "Roboto", sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3.5rem;
  // color: #4b4b4c;
  color: white;
 
}

 .NavLinks a:hover {
    // background-color: #dcb252;
    color: #4b4b4c;
    transition: all 0.3s ease 0s;
    // border: 1px solid #dcb252;
  }

//

@media (max-width: 600px) {
  body {
    background-color: white;
  }

  .snowflake1 {
    text-align: center;
    margin: 0 auto;
    display: none;
  }

  .snowflake2 {
    text-align: center;
  }
  .header-content {
    text-align: center;
    h1 {
      font-size: 6rem;
      text-align: center;
      line-height: 6rem;
      margin-bottom: 15px;
    }
    p {
      text-align: center;
      line-height: 4rem;
      margin-bottom: 15px;
    }
    p:first-child {
      display: none;
    }
  }
}
