header {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header .center {
  text-align: center;
  background-image: url("/assets/cacti.jpg");
  width: 80vw;
  height: 85vh;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  img {
    width: 100%;
    display: block;
  }
  .my-name {
    font-family: "Domine", serif;
    font-weight: 700;
    color: white;
    font-size: 7.5rem;
    text-align: center;
    margin-top: 25%;
    text-shadow: 0.25px 0.25px #a3a3a3;
  }

  .mobile-name {
    // border: 1px solid purple;
    display: none;
  }

  .my-role {
    animation-duration: 5s;
  }
  .center-text {
    p {
      font-family: "Domine", serif;
      font-size: 3rem;
      font-weight: bold;
      color: white;
      margin: 0;
      -webkit-text-stroke-width: 0.25px;
      -webkit-text-stroke-color: #a3a3a3;
    }
  }
}

.snowflake2 {
  width: 60px;
  transform: rotate(-40deg);
}

.mainNav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 40;
  width: 300px;
  // max-width: 600px;
  background: linear-gradient(#dcb252, #ffffff);
}
.hamburger i {
  position: fixed;
  top: 15px;
  right: 25px;
  font-size: 4rem;
  color: #4b4b4c;
  z-index: 40;
}

.closed {
  right: -500px;
}

.opened {
  right: 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 4rem;
  color: white;
}

.NavLinks li {
  text-decoration: none;
  margin: 30px;
}

.NavLinks a {
  font-family: "Nunito Sans", sans-serif;
  font-size: 3.5rem;
  color: white;
}

.NavLinks a:hover {
  color: #4b4b4c;
  transition: all 0.8s ease 0s;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  li {
    margin: 0;
  }
}

@media (max-width: 700px) {
  .my-name {
    display: none;
  }
  header .center .mobile-name {
    margin-top: 25%;
    display: block;
    // border: 1px solid red;
    font-family: "Domine", serif;
    font-weight: 700;
    color: white;
    font-size: 4.5rem;
    text-align: center;
    text-shadow: 0.25px 0.25px #a3a3a3;
  }
}

@media (max-width: 600px) {
  body {
    background-color: white;
  }

  .snowflake1 {
    text-align: center;
    margin: 0 auto;
    display: none;
  }

  .snowflake2 {
    text-align: center;
  }
  .header-content {
    text-align: center;
    h1 {
      font-size: 6rem;
      text-align: center;
      line-height: 6rem;
      margin-bottom: 15px;
    }
    p {
      text-align: center;
      line-height: 4rem;
      margin-bottom: 15px;
    }
    p:first-child {
      display: none;
    }
  }
}
