.project-title {
    text-align: center;
    h2 {
        margin-bottom: 0;
        font-size: 5rem;
        font-family: 'Roboto', sans-serif; 
        font-weight: 400;
        color: #4b4b4c;
    }
} 