/* GENERAL SETUP */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

nav, ul, h1, h2, h3 {
  padding: 0;
  margin: 0; }

nav, ul {
  list-style: none; }

a {
  text-decoration: none; }

html {
  background-color: #fefefe;
  font-size: 62.5%; }

body {
  background-color: #fefefe; }

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto; }

@media (max-width: 600px) {
  .wrapper {
    width: 100%; } }

header {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

header .center {
  text-align: center;
  background-image: url("/assets/cacti.jpg");
  width: 80vw;
  height: 85vh;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  header .center img {
    width: 100%;
    display: block; }
  header .center .my-name {
    font-family: 'Domine', serif;
    font-weight: 700;
    color: white;
    font-size: 7.5rem;
    text-align: center;
    margin-top: 25%; }
  header .center .center-text p {
    font-family: 'Domine', serif;
    font-size: 3rem;
    color: white;
    margin: 0; }

.snowflake2 {
  width: 60px;
  transform: rotate(-40deg); }

.mainNav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 15;
  max-width: 600px;
  background: linear-gradient(#dcb252, #ffffff); }

.hamburger i {
  position: fixed;
  top: 15px;
  right: 25px;
  font-size: 4rem;
  color: #4b4b4c; }

.closed {
  right: -500px; }

.opened {
  right: 0; }

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 4rem;
  color: white; }

.NavLinks li {
  text-decoration: none;
  margin: 30px; }

.NavLinks a {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3.5rem;
  color: white; }

.NavLinks a:hover {
  color: #4b4b4c;
  transition: all 0.3s ease 0s; }

@media (max-width: 600px) {
  body {
    background-color: white; }
  .snowflake1 {
    text-align: center;
    margin: 0 auto;
    display: none; }
  .snowflake2 {
    text-align: center; }
  .header-content {
    text-align: center; }
    .header-content h1 {
      font-size: 6rem;
      text-align: center;
      line-height: 6rem;
      margin-bottom: 15px; }
    .header-content p {
      text-align: center;
      line-height: 4rem;
      margin-bottom: 15px; }
    .header-content p:first-child {
      display: none; } }

.about {
  padding: 40px 0; }
  .about h2 {
    margin-bottom: 0; }

.about-title {
  text-align: center; }
  .about-title h2 {
    font-size: 5rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #4b4b4c; }

.about-content {
  margin-top: 10px;
  display: flex;
  align-items: center; }
  .about-content p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 3rem;
    width: 100%;
    color: #4b4b4c; }

.profile {
  width: 30%;
  margin-left: 10%; }
  .profile img {
    width: 85%;
    box-shadow: -8px 8px #dcb252; }

.about-text {
  width: 60%;
  padding-right: 10%; }

@media (max-width: 930px) {
  .about {
    margin: 0 auto;
    text-align: center; }
  .about-content {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%; }
  .profile {
    margin: 0;
    padding: 0;
    width: 100%; }
    .profile img {
      margin: 0;
      padding: 0;
      width: 45%; }
  .about-text {
    width: 100%;
    padding: 0; } }

.skills {
  text-align: center;
  margin: 0 auto; }
  .skills h2 {
    margin-bottom: 0;
    font-size: 5rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #4b4b4c; }

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5%;
  padding: 6%;
  padding-top: 0; }

.icon-container div {
  text-align: center;
  margin: 0px 40px 20px 40px;
  padding: 5px; }
  .icon-container div i {
    font-size: 9rem;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    color: #dcb252; }
  .icon-container div p {
    font-size: 2rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #4b4b4c; }

.firebase {
  width: 6.5rem; }

.project-title {
  text-align: center; }
  .project-title h2 {
    margin-bottom: 0;
    font-size: 5rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #4b4b4c; }

.project-content {
  margin-top: 5%; }

.project {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  margin-top: 5%;
  margin-bottom: 10%; }
  .project .project-preview {
    width: 50%; }
    .project .project-preview img {
      width: 100%; }
  .project .project-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%; }
    .project .project-text .project-name {
      font-family: 'Nunito Sans', sans-serif;
      font-size: 3rem;
      line-height: 3rem;
      font-weight: 400;
      color: #4b4b4c; }
    .project .project-text p {
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.5rem;
      line-height: 3rem;
      color: #4b4b4c; }
    .project .project-text .description {
      margin-bottom: 0; }

.project:nth-child(even) {
  flex-direction: row-reverse; }

.project-even .project-text {
  align-items: flex-end; }
  .project-even .project-text p {
    text-align: right; }

@media (max-width: 745px) {
  .project-content {
    text-align: center; }
  .project {
    display: block; }
  .project-preview {
    width: 100%;
    margin: 0 auto; }
  .project-text {
    width: 100%;
    margin: 0 auto; } }

.live, .github {
  border: 1px solid #ecc468;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #4b4b4c;
  margin-right: 15px;
  background-color: #ecc468; }

.project-even .project-text {
  align-items: flex-end; }
  .project-even .project-text p {
    text-align: right; }

.project-even .code-buttons .live, .project-even .code-buttons .github {
  margin-right: 0;
  margin-left: 15px; }

.live:hover, .github:hover {
  background-color: #dcb252;
  transition: all 0.3s ease 0s;
  border: 1px solid #dcb252; }

.contact h2 {
  margin-bottom: 0;
  font-size: 5rem;
  font-family: 'Nunito Sans', sans-serif;
  color: #4b4b4c;
  font-weight: 400; }

.contact-title {
  width: 100%;
  text-align: center; }

.contact-info {
  text-align: center;
  font-family: 'Domine', serif;
  font-weight: 700;
  color: white;
  font-size: 2.5rem; }
  .contact-info a {
    color: #a9a9ae; }

.social-media {
  text-align: center; }

.social-media ul {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.social-media ul li {
  list-style: none; }
  .social-media ul li i {
    font-size: 3rem;
    color: #a9a9ae;
    margin: 10px; }

footer {
  min-height: 70vh;
  position: relative;
  z-index: 10; }

footer:after {
  z-index: -1;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70vh;
  width: 100%;
  background: #e3e4e6;
  clip-path: polygon(100% 25%, 100% 100%, 0 100%, 0 0); }

form {
  padding: 3%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: #ecc468;
  width: 45%; }
  form input {
    display: block;
    margin-bottom: 3%;
    width: 100%; }
  form input:last-child {
    margin-bottom: 0; }

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 8vh; }
  .copyright div {
    color: #332f2f;
    text-align: center;
    font-family: "Pontano Sans", sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.25rem; }
    .copyright div p {
      padding: 0;
      margin: 0; }

@media (max-width: 745px) {
  .contact-info h3 {
    font-size: 2rem; } }
